---
interface Props {
    roomTitle : string;
    connectionType : 0 | 1 | 2 | 3 // 0 : Disconnected, 1 : Connecting, 2 : Slow Connection, 3: Connected
}
---

<div class="w-full h-[89px] bg-main-bg-color border-t border-main-border-color">
    
</div>