---
import PlayerCard from "./PlayerCard.astro"


---


<div class="w-full h-full bg-main-bg-color flex-col p-6 relative">
    <div class="w-full PlayerCardGrid absolute inset-0 overflow-y-scroll p-6">
        {Array.from({length:10}).map(() => <PlayerCard/>)}
    </div>
</div>

<style>
    .PlayerCardGrid {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    }
</style>