---

---



<div class="w-full h-full bg-main-bg-color border-2 border-main-border-color flex flex-col items-center justify-center p-6 main rounded-[10px] relative gap-4">
    <div class="w-[24%] aspect-square rounded-full bg-[#F5F5F5]">

    </div>

    <span class="font-[inter] text-[16px] text-[#1A1A1A]">Sarah Chen</span>
</div>  


<style>
    .main {
        aspect-ratio: 330/196;
    }
</style>