---
interface Props {
    roomTitle? : string;
    participants? : number;
}
const {roomTitle,participants = 0} = Astro.props;
---


<div class="w-full h-[85px] shrink-0 bg-main-bg-color border-b border-main-border-color flex justify-between items-center py-4 px-6 ">
    <!-- Title & Member Count -->
    <div class="flex flex-col justify-between">
        <h1 class="font-[inter] text-[20px] tracking-[-0.45px] text-main-text-color">{roomTitle}</h1>

        <div class="flex gap-1">
            <img src="/Icons/People.svg" alt="" class="w-3.5">
            <span class="font-[inter] text-accent-text-color text-[14px]">{participants} participants</span>
        </div>
    </div>
    <!-- Title & Member Count -->

    <span class="font-[inter] text-[14px] text-accent-text-color">
      {new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' })}
    </span>
</div>