---
import "../styles/global.css";
import TopBar from "../components/RoomComponents/TopBar.astro"
import MainContent from "../components/RoomComponents/MainContent.astro";
import BottomBar from "../components/RoomComponents/BottomBar.astro";

---

<main class="w-full h-dvh overflow-hidden flex flex-col">
    <TopBar roomTitle="Physics Study Session" participants={5}/>
    <MainContent/>
    <BottomBar roomStringIdentifier="Study Session #1234" connectionType={0}/>
</main>