---
import Layout from '../layouts/Layout.astro';
import ReactComponent from '../components/ReactComponent.tsx';
---

<Layout>
  <div class="grid place-content-center mt-16">
    <ReactComponent />
  </div>
</Layout>
