@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-main-bg: #09090B;
    --color-accent-bg: #27272A;
    --color-secondary-bg: #18181B;

    --color-main-text: #FFFFFF;
    --color-accent-text: #9F9FA9;
    
    --color-main-border: #27272A;

    --color-main-positive: #39B34B;
    --color-accent-positive: #00B8DB
}

:root {
    background: var(--color-main-bg);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

/* For Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield; 
}